[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Exec=bash -i "/home/ostdeveloper/android-studio/bin/studio.sh" %f
Icon=/home/ostdeveloper/android-studio/bin/studio.png
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-android-studio
Name[en_GB]=android-studio.desktop
